html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.background{
    background-image: url('https://i.pinimg.com/736x/20/55/2b/20552b29e418b6c2eb8fb787ff3e52e6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}
.content{
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.head{
    width: 85%;
}
.containerr{
    width: 75%;
    height: 500px;
    box-shadow: 0px 0px 12px 9px rgba(0, 0, 0, 0.871s);
    margin-bottom: 70px;
}
.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}
img{
    width:20%;
    height: 500px;
    object-fit: cover; 
    transition: width 0.5s;
    /*margin-right: 3px;*/
}
img:hover{
    width: 40%;
    cursor: pointer;
}
h1, h2{
    color: rgb(0, 0, 0);
    font-family: 'Pirata One', serif;
    text-align: center;
   text-shadow:  -1px -1px 5px rgba(255, 3, 3, 0.973);
   animation: glow 0.9s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #600000, 0 0 50px #c71d2b, 0 0 60px #510a13, 0 0 70px #e60000;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #050203, 0 0 40px #0a0005, 0 0 50px #0a0005, 0 0 60px #040404, 0 0 70px #0f050a, 0 0 80px #080004;
  }
}
h1{
    font-size: 8rem;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}
h2{
    font-size: 3.3rem;
    margin-bottom: 70px;
}
.info{
    width: 60%;
    margin: 0 auto;
    min-width: 400px;
    background-color: rgba(252, 4, 4, 0.407);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 0px 12px 9px rgba(0, 0, 0, 0.871);
    margin-bottom: 70px;
}
q, p{
    font-size: 1.5rem;
    font-family: 'Pirata One', serif;
    font-weight: 600;
}
.video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
iframe{
    width: 60%;
    min-width: 400px;
    height: 400px;
    box-shadow: 0px 0px 12px 9px rgba(0, 0, 0, 0.871);
    border: none;
    border-radius: 20px;
}
@media (max-width: 600px) {
    .containerr, .info, iframe {
        width: 95%;
    }
    h1{
        word-wrap: break-word;
    }
}
@media (max-width: 992px) {
    .containerr, .info, iframe {
        width: 95%;
    }
    h1{
        word-wrap: break-word;
    }

}